@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Sans+Pro:wght@200;300;600;700&display=swap");
* {
  font-family: Source Sans Pro;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.active-nav-text {
  color: #f18928;
}

.nav-text {
  color: #767676;
}

.nav-element {
  margin-left: 15px;
  font-size: 1.75em;
  padding: 20;
  padding: 10px;
  list-style-type: none;
}

.logo {
  font-size: 64px;
  font-weight: 700;
  font-style: bold;
  color: #363636;
}

.header {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c9c9c9;
  width: 80%;
}

.nav-wrapper {
  margin-left: 60px;
}
