@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Sans+Pro:wght@200;300;600;700&display=swap");

* {
  font-family: Source Sans Pro;
}

.nav-bar {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}

a {
  text-decoration: none;
  font-weight: 600;
}

.active-nav-text {
  color: #f18928;
}

.nav-text {
  color: #767676;
}

.nav-element {
  margin-left: 15px;
  font-size: 1.75em;
  padding: 20;
  padding: 10px;
  list-style-type: none;
}

.logo {
  font-size: 64px;
  font-weight: 700;
  font-style: bold;
  color: #363636;
}

.header {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c9c9c9;
  width: 80%;
}

.nav-wrapper {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 920px) {
  .logo {
    font-size: 36px;
    font-weight: 700;
    font-style: bold;
    color: #363636;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
  }
}

@media (min-width: 1280px) {
  .logo {
    font-size: 84px;
    font-weight: 700;
    font-style: bold;
    color: #363636;
  }
  .active-nav-text {
    color: #f18928;
    font-size: 36px;
  }

  .nav-text {
    color: #767676;
    font-size: 36px;
  }
}
