@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Sans+Pro:wght@200;300;600;700&display=swap");

* {
  font-family: Source Sans Pro;
}

body {
  overflow: hidden;
  background-color: #d9d9d9;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: min(32px, 2.5vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-nav-text {
  color: #ffae64;
}

.nav-text {
  color: #767676;
}

a:visited {
  text-decoration: none;
}

.logo {
  align-self: center;
  font-size: calc(16px + 1.5vw);
  grid-column-start: 2;
  grid-column-end: 4;
}

.nav-wrapper {
  grid-column-start: 4;
  grid-column-end: 10;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: sticky;
  z-index: 5;
}

.header {
  grid-column-start: 1;
  grid-column-end: 10;
  background-color: #f6f6f6;
  display: grid;
  grid-template-rows: 1 100%;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  flex-direction: row;
  filter: drop-shadow(0px 4px 28px rgba(176, 176, 176, 0.25));
}

.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  padding-bottom: 20px;
  grid-template-rows: repeat(7, minmax(0, 1fr));
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-column-gap: 20px;
}

.control-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: 1fr;
}

.google-login {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
  justify-self: center;
}

.wrapper {
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;
  display: flex;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
}
