button:active * {
  transform: translateY(2px);
}

.play-button {
  scale: 80%;
  border: none;
  background-color: #d8d8d8;
  padding: 0px;
}

.play-button:active {
  transform: translateY(2px);
}

.play-image {
  color: #767676;
}

.reset-button {
  scale: 80%;
  border: none;
  background-color: #d8d8d8;
}

.save-button {
  scale: 70%;

  border: none;
  background-color: #d8d8d8;
}

.stop-button {
  scale: 80%;
  border: none;
  background-color: #d8d8d8;
}

.bpm-form {
  display: flex;
  justify-content: center;
}

.bpm-input {
  background-color: #c0c0c0;
  font-size: 1.5em;
  color: #767676;
  font-family: Orbitron;
  justify-content: center;
  text-align: center;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 15px;
}

.bpm-input:focus {
  outline-width: 0;
}

@media (max-height: 900px) {
  .bpm-input {
    width: 60px;
    height: 20px;
    align-self: center;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
