.drum-button {
  background-color: #767676;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 4px 4px 0px #00000040;
  width: 90%;
  height: 90%;
  align-self: center;
  justify-self: center;
}

.active-drum-button {
  background-color: #444444;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 4px 4px 0px #00000040;
  width: 90%;
  height: 90%;
}

.active-drum-button:active,
.drum-button:active {
  transform: translateY(2px);
}
