.drum-sequencer {
  margin: 0px;
  padding: 0px;
  padding-bottom: 2vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.sequencer-numbers {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-self: flex-end;
  margin-bottom: 0px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.number-label {
  color: #9a9a9a;
  font-weight: 400;
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2vh;
}

#one,
#two,
#three,
#four {
  padding-bottom: 1.5vh;
}

#one {
  grid-column-start: 1;
  grid-column-end: 2;
}

#two {
  grid-column-start: 5;
  grid-column-end: 6;
}

#three {
  grid-column-start: 9;
  grid-column-end: 10;
}

#four {
  grid-column-start: 13;
  grid-column-end: 14;
}
