.drum-machine {
  height: 100%;
  justify-self: center;
  align-self: center;
  background-color: #5f5f5f;
  border-radius: calc(15px + min(2vw, 2vh));
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  overflow: hidden;
}

.bpm {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.controls {
  align-self: center;
  display: flex;
  margin-bottom: 0px;
  grid-column: 3/4;
}

.control-wrapper {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: minmax(0, 1fr);
  margin-bottom: 0px;
  align-self: center;
}

.drum-button-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  justify-content: space-around;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  align-items: center;
  justify-items: center;
  gap: min(1vh, 1vw);
}

.drum-sequencer {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 6;
}
