.mini-screen {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: Orbitron;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
  font-size: 1.5em;
  color: #767676;
  border: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  height: 80%;
  align-items: center;
  align-self: center;
}
