.privacy-container {
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 7;
  font-size: calc(10px + 1.5vw);
  display: flex;
  flex-direction: column;
}

h3 {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 6vh;
}

.policy {
  overflow-y: scroll;
}
