.privacy-container {
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

h3 {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-left: 0px;
}
