h3 {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-left: 8vw;
  margin-top: 2vh;
  font-size: calc(16px + 1vw);
}

.error-message {
  margin: 0px;
  text-align: center;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 6;
}

.delete-image {
  border: none;
  align-self: center;
  justify-self: center;
}

.delete-button {
  display: flex;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.profile-wrapper {
  grid-row-start: 3;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 18px;
}

.sequence-container {
  height: calc(100% - 5vh);
  width: 100%;
  margin-left: 4vw;
  margin-right: 4vw;
  padding-left: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sequence-item {
  display: flex;
  justify-content: space-between;
  margin-left: 4vw;
  margin-bottom: none;
  padding: 1vh;
  padding-left: 0px;
  border-radius: 7px;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  margin-right: 2vw;
}

.sequence-link,
.sequence-link:visited {
  font-weight: 400;
  font-size: calc(10px + 1vw);
  justify-content: left;
  color: #000000;
  text-decoration: none;
}

hr {
  margin: 0px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.loading-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 6;
}

.animation-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #5f5f5f;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
