.sequencer-button,
.playing-sequencer-button,
.seleceted-sequencer-button {
  height: min(3vw, 3vh);
  width: min(2.5vw, 2.5vh);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 0.25vw;
  border: none;
}

.sequencer-button {
  background-color: #898989;
}

.playing-sequencer-button {
  background-color: #ffae64;
}

.sequencer-button:hover:active {
  transform: translateY(2px);
}

.seleceted-sequencer-button:hover:active {
  transform: translateY(2px);
}

.playing-sequencer-button:hover:active {
  transform: translateY(2px);
}

.sequencer-button:hover,
.playing-sequencer-button:hover {
  transform: scale(120%);
}

.seleceted-sequencer-button {
  background-color: #444444;
}
