.sequencer-button {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #bcbcbc;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.playing-sequencer-button {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #f18928;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transform: scale(120%);
}

.sequencer-button:hover:active {
  transform: translateY(2px);
}

.playing-sequencer-button:hover:active {
  transform: translateY(2px);
}

.sequencer-button:hover,
.playing-sequencer-button:hover {
  background-color: #767676;
  transform: scale(120%);
}

.seleceted-sequencer-button {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #444444;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.playing-sequencer-button {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #f18928;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transform: scale(120%);
}
